.window
{
	position: absolute;
	left: 50px;
	top: 0px;
	width: 1100px;
	height: 700px;
background: #E3E3E3;
border:#38536E 1px solid;
-moz-box-shadow:    2px 2px 3px rgba(0,0,0,0.7); /* Для Firefox */
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.7); /* Для Safari и Chrome */
box-shadow:         2px 2px 3px rgba(0,0,0,0.7); /* Параметры тени */

	overflow: hidden;
	display: none;
	z-index: 1000;
}

.windowTop
{
height: 30px;
overflow: 30px;
/*
	background-image: url(../images/window/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
*/
position: relative;
overflow: hidden;
cursor: move;
}

.windowTopContent
{
margin-right: 13px;
/*	background-image:url(../images/window/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;*/
overflow: hidden;
height: 30px;
line-height: 30px;
text-indent: 10px;
font-weight: bold;
font-size: 16px;
color: #000000;
}

.windowMin
{
	position: absolute;
	right: 28px;
	top: 8px;
	cursor: pointer;
}

.windowMax
{
	position: absolute;
	right: 28px;
	top: 8px;
	cursor: pointer;
	display: none;
}

.windowClose
{
	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
}

.windowBottom
{
position: relative;
height: 670px;
/*
	background-image: url(../images/window/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
*/
}

.windowBottomContent
{
	position: relative;
	height: 670px;
	background-image: url(../images/window/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}

.windowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}

.windowContent
{
position:absolute;
top: 30px;
left: 10px;
width: auto;
height: auto;
overflow: auto;
margin-right: 10px;
border:#38536E 1px solid;
height: 655px; /*300*/
width: 1075px;  /*400*/
background-color: #FFFFFF;
}

/*#windowContent *
{
	margin: 10px;
}*/

.transferer2
{
border: 1px solid #6BAF04;
background-color: #B4F155;
filter:alpha(opacity=30); 
-moz-opacity: 0.3; 
opacity: 0.3;
}
