
#LeftFrame { /* Левая колонка */
 float: left; /* Обтекание справа */
 border: 1px solid #333; /* Параметры рамки вокруг */
 width: 300px; /* Ширина колонки */
 padding: 5px; /* Поля вокруг текста */
 margin: 10px 10px 20px 10px; /* Значения отступов */
}

#Content { /* Содержание */
 margin: 10px 350px 20px 330px; /* Значения отступов */
 padding: 5px; /* Поля вокруг текста */
 border: 1px solid #333; /* Параметры рамки */
}

#RightFrame { /* Правая колонка */
 float:left;
 border: 1px solid #333; /* Параметры рамки вокруг */
 width: 300px; /* Ширина колонки */
 padding: 5px; /* Поля вокруг текста */
 margin: 10px 10px 20px 320px; /* Значения отступов */
}
